<header>
    <nav>
        <label class="head-label"><img class="img1" src="../image/book12.jpg" alt="image1"></label>
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a class="active" href="">About</a></li>
            <li><a class="active" href="">Services</a></li>
            <li><a class="active" href="">Contact</a></li>
        </ul>
    </nav>
</header>